.icon {
    height: 25px;
    width: 25px;
    display: inline;
}

.chart img {
    height: 100%;
    width: 100%;
    display: inline;
}

div nav {
    margin: auto;
    width: 80% !important; 
 }

div table {
    margin: auto;
    width: 80% !important; 
 }
 
 .price-change {
     width: 62px;
     padding: 0px;
     margin: 0px;
 }

 .table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: #71717100;
    background-image: linear-gradient(var(--bs-table-accent-bg), var(--bs-table-accent-bg));
    border-bottom-width: 6px;
}