<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ScryptoCrypto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crypto-list">CryptoList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exchanges">Exchanges</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <div class="dropdown avatar-menu">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/images/avatar.webp" alt="Avatar" class="avatar">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><p class="text-center">Username: <small class="text-muted">{{user}}</small></p></li>
            <hr>
            <li><a class="dropdown-item" href="#">Login & Profile</a></li>
            <li><a class="dropdown-item" href="#">Liked currencies</a></li>
          </ul>
        </li>
      </div>
        <li class="nav-item logout-button" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="onLogout()">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

